In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
iris = load_iris()

In [118]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [119]:
iris_features = iris.feature_names

In [120]:
iris_features

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [121]:
df_data = pd.DataFrame(iris.data, columns = iris_features)
df_labels = pd.DataFrame(iris.target, columns = ['label'])

In [122]:
data=pd.concat([df_data,df_labels],axis=1)

In [123]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [124]:
data = data.drop('label', axis=1)

In [125]:
data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [126]:
from sklearn.model_selection import train_test_split

x_data=data.iloc[:,0:3].values
y_data=data.iloc[:,3].values

from sklearn.preprocessing import LabelEncoder
encoder =  LabelEncoder()
y1 = encoder.fit_transform(y_data)

Y = pd.get_dummies(y1).values

In [127]:
X_train, X_test, y_train, y_test=train_test_split(x_data,
                                                  Y,
                                                  test_size=0.2,
                                                  shuffle=True,
                                                  random_state=12)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(120, 3) (120, 22)
(30, 3) (30, 22)

In [128]:
X_train

array([[5.1, 3.5, 1.4],
       [5.5, 2.4, 3.7],
       [6.3, 2.9, 5.6],
       [5.5, 4.2, 1.4],
       [5.8, 2.7, 5.1],
       [5.7, 4.4, 1.5],
       [5.6, 2.9, 3.6],
       [5.5, 2.4, 3.8],
       [5.8, 4. , 1.2],
       [6. , 2.2, 4. ],
       [5.1, 2.5, 3. ],
       [5. , 3.4, 1.6],
       [4.4, 2.9, 1.4],
       [5.1, 3.8, 1.5],
       [4.8, 3. , 1.4],
       [5.4, 3.7, 1.5],
       [5.1, 3.8, 1.6],
       [5.5, 3.5, 1.3],
       [6.7, 3.3, 5.7],
       [5. , 3.4, 1.5],
       [6.4, 2.8, 5.6],
       [6. , 3.4, 4.5],
       [6.9, 3.1, 4.9],
       [6.1, 2.9, 4.7],
       [5.3, 3.7, 1.5],
       [6.4, 2.7, 5.3],
       [5.8, 2.6, 4. ],
       [6.1, 3. , 4.6],
       [6.9, 3.2, 5.7],
       [4.9, 3.1, 1.5],
       [5.7, 2.5, 5. ],
       [5.4, 3.9, 1.7],
       [6.7, 3.3, 5.7],
       [4.9, 2.5, 4.5],
       [5.8, 2.8, 5.1],
       [6. , 3. , 4.8],
       [6.7, 3.1, 4.7],
       [4.9, 2.4, 3.3],
       [5. , 2.3, 3.3],
       [6. , 2.7, 5.1],
       [7.6, 3. , 6.6],
       [5.1, 3.5, 1.4],
       [6.7, 3.1, 5.6],
       [7.9, 3.8, 6.4],
       [4.9, 3.1, 1.5],
       [5.6, 2.7, 4.2],
       [5.7, 3.8, 1.7],
       [6.4, 3.2, 5.3],
       [7.7, 2.8, 6.7],
       [5. , 3.5, 1.6],
       [6.4, 3.2, 4.5],
       [5.6, 2.5, 3.9],
       [4.7, 3.2, 1.6],
       [5.4, 3.4, 1.7],
       [6.3, 2.3, 4.4],
       [5.7, 2.8, 4.5],
       [6.5, 2.8, 4.6],
       [5.4, 3. , 4.5],
       [6.4, 3.1, 5.5],
       [6.6, 2.9, 4.6],
       [6.9, 3.1, 5.4],
       [5.2, 3.4, 1.4],
       [4.7, 3.2, 1.3],
       [5.8, 2.7, 4.1],
       [5.7, 3. , 4.2],
       [5.9, 3.2, 4.8],
       [4.4, 3.2, 1.3],
       [5.6, 2.8, 4.9],
       [5. , 2. , 3.5],
       [4.6, 3.2, 1.4],
       [7.1, 3. , 5.9],
       [6.3, 3.4, 5.6],
       [5.5, 2.3, 4. ],
       [6.1, 3. , 4.9],
       [5.9, 3. , 5.1],
       [4.9, 3.6, 1.4],
       [5.1, 3.8, 1.9],
       [7.3, 2.9, 6.3],
       [6.7, 3.1, 4.4],
       [6.2, 2.2, 4.5],
       [7.2, 3. , 5.8],
       [5. , 3.6, 1.4],
       [6.3, 3.3, 4.7],
       [6.2, 2.9, 4.3],
       [5. , 3. , 1.6],
       [5.7, 2.6, 3.5],
       [5.6, 3. , 4.1],
       [6.5, 3. , 5.2],
       [5.8, 2.7, 5.1],
       [5.2, 2.7, 3.9],
       [5.2, 3.5, 1.5],
       [6.5, 3.2, 5.1],
       [5.2, 4.1, 1.5],
       [6.8, 3. , 5.5],
       [4.8, 3.1, 1.6],
       [4.8, 3. , 1.4],
       [6.1, 2.8, 4.7],
       [7.2, 3.6, 6.1],
       [6.3, 2.7, 4.9],
       [5.7, 2.9, 4.2],
       [6. , 2.2, 5. ],
       [6.3, 3.3, 6. ],
       [5. , 3.2, 1.2],
       [5.5, 2.5, 4. ],
       [5.8, 2.7, 3.9],
       [4.3, 3. , 1.1],
       [6.5, 3. , 5.8],
       [7.7, 3.8, 6.7],
       [6.4, 2.8, 5.6],
       [6.4, 2.9, 4.3],
       [7.7, 2.6, 6.9],
       [6.9, 3.1, 5.1],
       [6.3, 2.8, 5.1],
       [5. , 3.3, 1.4],
       [4.6, 3.6, 1. ],
       [6.8, 2.8, 4.8],
       [4.6, 3.1, 1.5],
       [7.4, 2.8, 6.1],
       [6.1, 2.6, 5.6],
       [6.6, 3. , 4.4]])

In [129]:
Y

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [130]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std

X_test -= mean
X_test /= std

In [131]:
from keras import models
from keras import layers

def build_model(): 
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 64)                256

 dense_16 (Dense)            (None, 64)                4160

 dense_17 (Dense)            (None, 1)                 65

=================================================================
Total params: 4,481
Trainable params: 4,481
Non-trainable params: 0
_________________________________________________________________

In [132]:
model = build_model() 
model.fit(X_train, y_train, epochs=80, batch_size=16, verbose=0)
test_mse_score, test_mae_score = model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 291ms/step - loss: 0.0434 - mae: 0.0840

In [133]:
test_mae_score

0.08396699279546738